* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.4;
    }
    
    html {
        color: #333;
        background: rgb(206, 206, 206);
    }
    
    .hsptlname {
        font-size: 1rem;
        background: var(--dark);
        color: var(--light);
        text-align: center;
        padding: 0.5rem;
        position: sticky;
        top: 0;
        position: -webkit-sticky;
        height: 50px;
    }
    
    img {
        max-width: 100%;
    }
    
    .mainbody {
        display: grid;
        grid-gap: 25px;
        margin: 10px 10% 30px 10%;
    }
    /* Navigation */
    
    .main-nav ul {
        display: grid;
        grid-gap: 5px;
        padding: 0;
        margin: 0;
        list-style: none;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    .main-nav a {
        background: var(--primary);
        display: block;
        text-decoration: none;
        padding: 0.6rem;
        text-align: center;
        color: var(--dark);
        font-size: 1.1rem;
        box-shadow: var(--shadow);
        border-radius: 7px;
    }
    
    .main-nav .activea {
        background: rgb(67, 111, 114);
    }
    
    .main-nav a:hover {
        background: rgb(67, 111, 114);
        color: var(--light);
    }
    /* middle body section */
    
    .middlebody {
        grid-area: showcase;
        height: 100vh;
        background: url(../image/hrs.jpg);
        background-size: cover;
        background-position: center;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        box-shadow: var(--shadow);
    }
    
    .middlebody h1 {
        font-size: 3rem;
        margin-bottom: 0;
        d color: var(--dark);
    }
    
    .middlebody p {
        font-size: 1.3rem;
        margin-top: 0;
        color: var(--dark);
    }
    /* Boxes */
    
    .boxes {
        display: grid;
        grid-gap: 20px;
        height: auto;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    
    .box {
        background: var(--primary);
        text-align: center;
        padding: 1.5rem 2rem;
        box-shadow: var(--shadow);
    }
    
    .boxptext {
        margin: 10px 0;
    }
    
    .box img {
        height: 160px;
        /* max-width: 100%; */
        width: 70%;
    }
    
    .box h3 {
        font-size: 1rem;
    }
    /* Info */
    
    .about {
        background: var(--primary);
        box-shadow: var(--shadow);
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(2, 1fr);
        padding: 3rem;
    }
    /* Footer */
    
    footer {
        margin-top: 20px;
        text-align: center;
        background: var(--dark);
        color: var(--font);
        padding: 5px;
    }
    
     :root {
        --primary: #ddd;
        --font: rgb(206, 194, 194);
        --dark: rgb(43, 42, 42);
        --light: rgb(206, 194, 194);
        --shadow: 0 6px 6px rgba(139, 143, 140, 0.8);
    }
    /* contact section  */
    
    input[type=text],
    select,
    textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }
    
    input[type=submit] {
        background-color: var(--dark);
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type=submit]:hover {
        background-color: #45a049;
    }
    
    .btn {
        background: var(--dark);
        color: var(--font);
        padding: 5px;
        text-decoration: none;
        border: 0;
    }
    
    @media(min-width: 751px) {
        .main-nav {
            display: none;
        }
    }
    
    @media (max-width: 750px) {
        /* .img{
        width: 100%;
    } */
        .header {
            display: none;
        }
        .middlebody h1 {
            font-size: 2.5rem;
        }
        .main-nav ul {
            grid-template-columns: 1fr;
            row-gap: 5px;
            width: 20%;
            position: fixed;
            right: 1%;
            top: 5%;
            margin-bottom: 0;
        }
        .about .btn {
            /* display: inline-block; */
            margin: auto;
            text-align: center;
            display: block;
        }
        .about {
            grid-template-columns: 1fr;
        }
        .popup {
            width: 70%;
        }
    }
}
.button:hover {
    background: #06D85F;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 50%;
    position: relative;
    transition: all 5s ease-in-out;
}
.popup h2 {
    margin-top: 10px;
    padding: 0;
    font-size: 15px;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 5px;
    right: 5px;
    transition: all 200ms;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
    color: rgb(199, 16, 16);
    border: 1px solid black;
    background-color: blanchedalmond;
    padding: 3px 5px 3px 5px;
}
.popup .close:hover {
    color: #000000;
}
.popup .content {
    overflow: auto;
    margin-top: 10px;
}
.popup .content a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px;
    margin: 10px auto;
    background: #ccc;
    font-weight: bolder;
    /* margin: 5px auto; */
}
.popup .content a:hover {
    background-color: var(--dark);
    color: var(--font);
}
